<!DOCTYPE html>
<%= render "/refinery/html_tag" %>
  <%# site_bar = render('/refinery/site_bar', :head => true) -%>
  <head>
    <%= render "/refinery/head" %>
  </head>
  <body id="<%= canonical_id @page %>">
    <%#= site_bar -%>
    <div id="page_container" class="container-fluid">
      <header id="header" class="col-sm-10 col-sm-offset-2">
        <%= render "/refinery/header" -%>
      </header>
      <aside class="col-sm-2">
        <%= render "/refinery/menu" -%>
      </aside>
      <section id="page" class="col-sm-10">
        <%= yield %>
      </section>
    </div>
    <%= render "/refinery/javascripts" %>
  </body>
</html>
